@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?szwwn3');
  src:  url('fonts/icomoon.eot?szwwn3#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?szwwn3') format('truetype'),
  url('fonts/icomoon.woff?szwwn3') format('woff'),
  url('fonts/icomoon.svg?szwwn3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Minus_Desktop:before {
  content: "\e900";
}
.icon-Plus_Desktop:before {
  content: "\e901";
}
.icon-Plus_Mobile:before {
  content: "\e902";
}
.icon-Minus_Mobile:before {
  content: "\e903";
}
.icon-Arrow_Left:before {
  content: "\e904";
}
.icon-Arrow_Right:before {
  content: "\e906";
}
.icon-Basket_Icon:before {
  content: "\e908";
}
.icon-call-1:before {
  content: "\e909";
}
.icon-Delete:before {
  content: "\e90a";
}
.icon-RadioButton_Active:before {
  content: "\e90b";
}
.icon-RadioButton_Passive:before {
  content: "\e90c";
}
