.about-us-left-section{
    padding-bottom: 25px;
    background: #F0F3F8;
    border-radius: 15px 15px 20px 20px;
}

.about-us-left-header {
    color: #E7EBF0;
    height: 65px;
    border-radius: 15px 15px 0 0;
    background: #637DD9;
    padding: 21px 0 0 15px;
    font-size:23px;
}

.about-us-left-padding{
    width: 109%;
    margin-left: -15px;
}

.about-us-left-padding h1{
    font-weight:700;
    font-size:32px;
    text-transform: uppercase;
    color:  #3A4353;
    margin: 25px 0;
}

.about-us-left-padding h2{
    color:#18224B;
    font-weight:600;
    padding:25px 0 0 15px;
}

.about-us-left-padding h4{
    color:#4E536B;
    padding-top: 15px;
    font-size:18px;
    padding-left:35px;
}

.about-us-left-padding h5{
    color:#77808A;
    font-size:20px;
    margin-bottom:38px;
    font-weight: 400;
}

.about-us-left-padding p{
    font-size:24px;
    color:#4E536B;
    line-height:1.5;
    font-weight:400;
    width: 103%;
}

.about-us-right-img{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .0), rgba(255, 255, 255, .0)), url(../images/about-us_big.png);
    min-height: 680px;
    background-size: auto, cover;
    color: white;
    max-height: 100%;
    width: 103%;
    background-position:center;
}

.about-us-right-mobile{
    display:none;
}

.about-us-left-section h4 a{
    transition: 0.3s;
}

.about-us-left-section h4 a:hover{
    color:#ED293A;
    transition: 0.3s;
}
.about-us-left-section h4 a:active{
    color:#5A37C3;
    transition: 0.3s;
}

@media(max-width:1200px){
    .about-us-left-padding{
        display:none;
    }

    .about-us-right-img, .about-us-section-content p {
        width: 100%;
    }

    .about-us-right-img{
        min-height: 690px;
    }
}

@media(max-width:800px){
    .about-us-right-comp{
        display:none;
    }

    .about-us-right-mobile{
        display:block;
    }

    .about-us-section-content h1{
        font-size:22px;
    }

    .about-us-section-content p{
        font-size:19px;
    }

    .about-us-right-img{
        margin-bottom: 30px;
        min-height: 400px;
    }

    .about-us-section-content h5 {
        margin-bottom: 20px;
    }
}
