/*.bestsellers-section{*/
/*    margin-top:40px;*/
/*}*/
.bestsellers-header{
    font-size: 24px;
    font-weight: 600;
    color:#000000;
    padding-top:37px;
}

.bestsellers-article h2{
    font-size: 18px;
    min-height: 46px;
    font-weight: 600;
    color:#45485B;
}

.bestsellers-article h1{
    white-space: nowrap;
    color:#90969D;
    font-size: 16px;
    font-weight:300;
    margin-bottom:15px;
}

.bestsellers-article{
    margin-top:25px;
    min-height:360px;
    position:relative;
    text-align:center;
    border: 2px solid #C7CFD9;
    padding:20px;
    background: white;
    margin-left: 10px;
    margin-right: 15px;
    outline: none;
    border-radius: 20px;
}

.bestsellers-block-img{
    padding-top:16px;
}

.bestsellers-hover-block{
    transition:0.5s;
    opacity:0;
    right:25px;
    left:25px;
    top:25px;
    bottom:25px;
    position:absolute;
}

.bestsellers-block-icons{
    font-size:18px;
    font-weight:800;
    margin-top:20px;
}

.bestsellers-icon{
    padding-right:10px;
}

.bestsellers-block-btn:hover{
    background: linear-gradient(90deg, #61BDF6 0%, #3B418D 100%);
    transition:0.5s;
    color:white;
    border:none;
}

.bestsellers-block-btn:hover ~ .bestsellers-block-cart{
    color:white;
    transition:0.5s;
}

.bestsellers-block-btn:active{
    background: #3B418D;
    transition:0.5s;
}

@media (max-width:1200px){
    .bestsellers-section{
        padding:10px;
    }
}

@media (max-width: 640px){
    .bestsellers-slider {
        justify-content: flex-start;
        overflow-x: auto;
    }
}

@media (max-width: 640px){
    .bestsellers-slider {
        justify-content: flex-start;
        overflow-x: auto;
    }
}