.carousel-section{
    min-height:626px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .0), rgba(255, 255, 255, .0)), url(../images/carousel.png);
    background-size: auto, cover;
    color:white;
    max-height:100%;
    width:100%;
}

.carousel-block {
    background: radial-gradient(100% 267.04% at 0% 3.9%, rgba(231, 235, 240, 0.217) 0%, rgba(231, 235, 240, 0.7) 100%);
    backdrop-filter: blur(20px);
    color: black;
    width: 850px;
    height: 540px;
    border-radius: 40px;
    padding-left: 33px;
}

.carousel-block-btn{
    color: #E7EBF0;
    font-size: 22px;
    background: linear-gradient(90deg, #5A37C3 0%, #DE1B4A 100%);
    border-radius: 28px;
    width: 290px;
    height: 60px;
    border: none;
    text-align: left;
    padding-left: 35px;
    position:relative;
}

.carousel-block-btn img{
    position:absolute;
    right:35px;
    top:28px;
}

.carousel-block h1{
    font-size:34px;
    margin-bottom: 20px;
    white-space: nowrap;
    font-weight:500;
}

.carousel-block p{
    font-size:18px;
    color:#494E62;
    font-weight:300;
    margin-top:30px;
}

.carousel-block h2{
    font-weight:700;
    font-size:20px;
    margin-bottom: 15px;
}

.carousel-block h3{
    font-size:20px;
    font-weight:400;
}

.carousel-block h4{
    font-size:36px;
    font-weight:700;
}

.carousel-right-block{
    background: radial-gradient(97.97% 931.42% at 100% 100%, #5A37C3 0%, rgba(99, 125, 217, 0.86) 100%);
    box-shadow: 0 0 15px rgba(90, 55, 195, 0.35);
    backdrop-filter: blur(4px);
    margin-top:15px;
    border-radius: 40px 0 0 0;
    width: 470px;
    height: 170px;
    text-align:center;
    text-transform: uppercase;
    padding: 26px;
}

.carousel-right-block:last-child{
    border-radius:0 0 40px 0;
}

.carousel-block .col-6{
    padding-top:75px;
}

.carousel-right-block h1{
    font-weight:500;
    color:#E7EBF0;
    font-size: 38px;
}

.carousel-right-block h2{
    font-weight:400;
    color:#E7EBF0;
    font-size:20px;
    margin-top:8px;
}

.carousel-indicators li {
    background-color: #637DD9;
    width: 30px;
    border-radius: 12px;
    height: 7px;
    margin-left: 14px;
}

.carousel-control-next {
    right: -39px;
}

.carousel-control-prev {
    left: -130px;
}

.carousel-indicators {
    position: absolute;
    bottom:43px;
    z-index: 15;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

@media(max-width:1650px){
    .carousel-section-content .col-4{
        display:none;
    }
}

/*@media(max-width:1100px){*/
/*    .carousel-png{*/
/*        padding:140px 0 0 0;*/
/*    }*/

/*    .carousel-block{*/
/*        margin:0 auto;*/
/*        padding:15px;*/
/*    }*/
/*}*/

/*@media(max-width:770px){*/
/*    .carousel-block-header {*/
/*        font-size: 23px;*/
/*        text-align: left;*/
/*    }*/
/*}*/

/*@media(max-width:440px){*/
/*    .carousel-block-img{*/
/*        width:20%;*/
/*    }*/

/*    .carousel-block-subtitle {*/
/*        width: 80%;*/
/*    }*/
/*}*/