.dosage-section{
    margin-top:40px;
}

.dosage-btn{
    width:111px;
    height:41px;
    background: white;
    border:2px solid #76E7C7;
    transition:0.5s;
    margin: 15px 15px 20px 15px;
    white-space:nowrap;
}

.dosage-table-list{
    text-align: center;
    font-size:20px;
}

.dosage-table-list{
    margin-top:15px;
    white-space: nowrap;
}

.dosage-mobile-section{
    display:none;
}

.btn-gradient{
    color:#E7EBF0;
    font-weight:500;
    font-size:20px;
    background: linear-gradient(90deg, #5A37C3 0%, #DE1B4A 100%);
    box-shadow: 0 2px 8px rgba(4, 9, 31, 0.35);
    border-radius: 30px;
    border:none;
    text-align:center;
    width:100%;
    height:60px;
}

.dosage-mobile-btn{
    width:200px;
    height:50px;
    color:#5A37C3;
    background: white;
    position: relative;
    padding-right:40px;
    transition:0.3s;
    border:1px solid #90969D;
    font-size:17px;
    border-radius: 30px;
}

.dropdown-btn:hover{
    background:aliceblue;
    transition:0.3s;
    color:#3B418D;
}

.dosage-mobile-btn-vector{
    position:absolute;
    right:20px;
    top:20px;
}

.dosage-mobile-left{
    width: 50%;
}

.dosage-mobile-right{
    width: 50%;
    margin: 0 auto;
    text-align: right;
}

.dosage-mobile-inputs{
    display:flex;
}

.dosage-mobile-right-header{
    padding-right:78px;
    margin-bottom: 7px;
}

.dosage-mobile-subtitle{
    font-size:20px;
    color:#77808A;
    font-weight:300;
}

.dosage-mobile-header{
    font-size:20px;
    font-weight:600;
    margin-left:5px;
    color:black;
    padding-right:20px;
}

.dosage-mobile-text{
    text-align:center;
    width:355px;
    margin:0 auto;
}

.dosage-mobile-d-flex{
    display:flex;
}

.dosage-table{
    border:1px solid #90969D;
    padding-bottom: 20px;
    border-radius: 22px;
}

.dosage-table-link{
    font-weight:400;
}



.btn-default:hover{
    background: #5A37C3;
    transition:0.5s;
    color:white;
    border:none;
}

.btn-default:hover ~ .bestsellers-img{
    color:white;
    transition:0.5s;
}

.btn-default:active{
    transition:0.5s;
    background: linear-gradient(90deg, #5A37C3 0%, #DE1B4A 100%);
}





.dosage-blue-bg{
    background: linear-gradient(90deg, #3B418D 0%, #637DD9 100%);
    border-radius: 20px 20px 0px 0px;
    color:white;
    font-size:22px;
    font-weight:500;
    padding:20px 0;
    margin-left: 0px;
    width: 100%;
}


/*.dosage-btn:hover{*/
/*    background: #A3F2DC;*/
/*    transition:0.5s;*/
/*}*/

/*.dosage-btn:active{*/
/*    background: #76E7C7;*/
/*    transition:0.5s;*/
/*}*/

.form_radio_btn {
    display: inline-block;
}

.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn label {
    display: inline-block;
    width:111px;
    height:41px;
    background: white;
    border: 2px solid #ED293A;
    transition:0.5s;
    margin: 15px 15px 20px 15px;
    white-space:nowrap;
    padding: 6px 0 0 23px;
    border-radius: 25px;
}

.form_radio_btn label:hover{
    border: 2px solid #5A37C3;
    transition:0.2s;
}

.form_radio_btn input[type=radio]:checked + label {
    background: linear-gradient(to right,#ED293A 50%,#CD2331 50%);
    color:white;
    border:none;
}

@media(max-width:1100px){
    .btn-default{
        width:110px;
    }
}

@media(max-width:900px){
    .dosage-section-content{
        display:none;
    }
    .dosage-mobile-section{
        display:block;
        padding-top:30px;
    }
}

@media(max-width:500px){
    .dosage-mobile-left, .dosage-mobile-right{
        width:100%;
        margin:0 auto;
        text-align: center;
        margin-bottom: 20px;
    }

    .dosage-mobile-inputs{
        display:flow-root;
    }

    .dosage-mobile-right-header{
        padding-right:0;

    }
}