.footer-section{
    background: #E7EBF0;
    padding:20px;
    margin-top:80px;
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0 60px 0;
}

.logo-text{
    font-size: 20px;
    font-weight:700;
}

.footer-list {
    display: flex;
    font-size:20px;
    color:white;
    font-weight: 500;
    white-space: nowrap;
    color:#18224B;
}

.footer-list__item {
    padding-top:10px;
    margin-left: 95px;
}

.footer-text{
    padding-bottom:20px;
    font-weight:400;
    font-size: 20px;
}

.footer-link {
    position: relative;
    transition:0.5s;
    color:#18224B;
}

.footer-link:hover{
    color:#ED293A;
    transition:0.5s;
}

.parallels-icon{
    margin-left:15px;
}

.footer{
    padding:0;
    margin:0;
}

li {
    list-style-type: none;
}

.footer-list__item-d-n{
    display:block;
}

.footer-list__item-d-b{
    display:none;
}

.footer-article{
    color:#18224B;
    font-size:18px;
    font-weight:400;
}

.footer-padding-left{
    padding-left: 259px;
    white-space: nowrap;
}

.footer-left-side{
    font-weight:400;
    font-size:18px;
    color:#18224B;
    padding-bottom: 25px;
}

.footer-contacts-section{
    color:white;
    background: #302638;
    padding:20px;
}

.footer-contacts-img-block{
    text-align: center;
}

.footer-contacts-img{
    padding-left:20px;
}

.footer-button-medium{
    display:none;
}

@media (max-width: 1200px){
    .footer-text {
        padding-bottom: 40px;
        font-weight: 300;
    }
    .footer-padding-left {
        padding-left:100px;
        white-space: nowrap;
    }

    .footer-list__item {
        margin-left: 40px;
    }
}

@media (max-width: 992px){
    .footer-padding-left {
        padding-left:0;
        text-align:center;
        white-space: nowrap;
    }

    .footer-left-side{
        text-align: center;
    }

    .footer-section-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-list__item-d-n{
        display:none;
    }

    .footer-list__item-d-b{
        display:block;
    }

    .footer {
        width: 100%;
    }

    .footer-list {
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
    }
    .footer-list__item {
        width: 100%;
        margin-top: 30px;
        margin-left:0;
    }

    .footer-list {
        padding-top:0;
        padding-right:0;
    }

    .footer-list__item {
        margin-left:0;
    }

    .footer-button{
        display:none;
    }
    .footer-button-medium{
        display:block;
        margin:0 auto;
        margin-top:30px;
    }
}

@media (max-width: 767px){
    .footer-contacts-telephone{
        text-align:center;
        padding-bottom: 15px;
    }
}

.footer-mobile-section-content{
    padding-bottom: 25px;
}

.footer-mobile-section{
    display:none;
    background: #E7EBF0;
    font-weight: 400;
}

.footer-btn{
    margin:0 auto;
    text-align: center;
    margin-top:30px;
}

.footer__button {
    width: 200px;
    height: 50px;
    background: #5A37C3;
    box-shadow: 0px 2px 6px rgba(6, 14, 40, 0.11);
    border-radius: 25px;
    border: none;
    color: #E7EBF0;
    transition: 0.5s;
    font-weight: 400;
    margin:15px 0 auto;
    text-align: center;
}

.footer__button:hover {
    background: linear-gradient(90deg, #5A37C3 0%, #DE1B4A 100%);
    transition:0.5s;
}

.footer__button:active {
    color:white;
    background: #ED293A;
}


.footer-white-a{
    color:white;
    font-size:20px;
}

.footer-mobile-telephone{
    position:absolute;
    color:#18224B;
    right:20px;
    font-weight:500;
}

.footer-white-a:hover{
    color:#18224B;
}

.footer__item{
    padding:20px 20px 20px 50px;
    font-weight:400;
    color:#18224B;
    position:relative;
}

.footer__item:active{
    background: #4E536B;
    color:#E7EBF0;
}

.footer__item-circle{
    position: absolute;
    width: 8px;
    height: 8px;
    top: 30px;
    right: 50px;
    background: #90969D;
    border-radius: 50%;
}

.footer-contacts-section-left{
    display:flex;
    font-weight:400;
    font-size:18px;
}

@media(max-width:1398px){
    .footer-contacts-section-left{
        padding-top:18px;
    }
}

@media(max-width:900px){
    .footer-section , .footer-contacts-section{
        display:none;
    }

    .footer-mobile-section{
        display:block;
        margin-top:80px;
    }
}