.header {
    position: fixed;
    top: 0px;
    height: 50px;
    background: linear-gradient(90deg, #5A37C3, #DE1B4A);
    min-height: 60px;
    margin-bottom: 15px;
    z-index: 9999;
    width: 100%;
}

.header-list__item{
    text-align:center;
    line-height: 60px;
    font-weight:300;
}

.header-list__item-basket{
    position:relative;
}

.header-list__item-basket:hover{
    color:#EEC841;
}

.header-list__item-basket:hover .header-list__item-basket-block{
    display:block;
    transition:0.4s;
}

.header-list__item-basket span{
    position:relative;
    font-size: 24px;
    top: 3px;
    right: -3px;
}

.header-list__item-basket span div{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #5A37C3;
    color: white;
    top: -4px;
    right: -13px;
    font-size: 14px;
    position: absolute;
    font-weight: 500;
}

.header-list__item-basket-block {
    position: absolute;
    width: 361px;
    height: 200px;
    top: 59px;
    background: #ffffff;
    text-align: center;
    right: -20px;
    box-shadow: 0 3px 20px rgb(5 17 35 / 25%);
    border-radius: 10px;
    display:none;
    transition:0.4s;
    color:#3A4353;
    padding:10px 0 0 20px;
    font-family: 'Rubik', sans-serif;
}

.header-list__item-basket-block button{
    width: 110px;
    height: 50px;
    color: white;
    background: #5A37C3;
    font-size: 20px;
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.header-list__item-basket-block h1{
    font-size:20px;
    font-weight:300;
}

.header-list__item-basket-block h2{
    font-size:22px;
    font-weight:500;
    margin-left:5px;
}

.header-burger__item-subtitle{
    font-weight:400;
}

.header-link{
    color:white;
}

.header{
    padding:0;
    margin:0;
    color:white;
}

.header-list {
    display: flex;
    font-size:16px;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.header-block{
    width:200px;
    white-space: nowrap;
    text-align:center;
    height:50px;
    float: right;
}

.header-block-text{
    font-weight: 400;
}

.header-burger-section{
    display:none;
}

@media(max-width:1490px){
    .header-list{
        padding: 0 20px;
    }
}

@media (max-width: 1079px){
    .header-section {
        height:60px;
    }

    .header-block{
        padding-top:6px;
        height:60px;
    }

    .header-p-top{
        padding-top:20px;
        font-size:14px;
        font-weight:600;
    }
}

@media (max-width: 900px){
    .d-n{
        display:none;
    }

    .header-burger-section{
        display:block;
    }

    .search-list__item-right{
        display:none;
    }
}

@media (max-width:700px){
    .header-link-d-none{
        display:none;
    }
}

body {
    overflow-x: hidden;
}

.header-menuToggle {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

.header-menuToggle input {
    display: block;
    width: 80px;
    height: 60px;
    position: absolute;
    top: -20px;
    left: -20px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

/*
 * MY STYLISCTICS
 */


.fas .fa-angle-right .fa-burger{
    width: 0;
    position: absolute;
    right: 123px;
    top: 142px;
}

.header-burger-logo{
    position: absolute;
    top: 38px;
    right: 180px;
}

.header-burger__button{
    width: 155px;
    height: 50px;
    background: #5A37C3;
    border: none;
    color: #E7EBF0;
    border-radius: 25px;
    transition: 0.3s;
    font-weight: 400;
}

.header-burger__button:hover{
    transition:0.5s;
    background: linear-gradient(90deg, #5A37C3 0%, #DE1B4A 100%);
}

.header-burger__button:active{
    background: #ED293A;
}

.header-burger__btn-item{
    margin:0 auto;
    text-align:center;
}

.header-burger__button-menu{
    background: linear-gradient(90deg, #5A37C3 0%, #DE1B4A 100%);
}

.header-burger__button-menu:active{
    background:#5A37C3;
}

.header-burger__item{
    font-weight: 500;
    font-size:16px;
}

.header-burger__item-header{
    font-weight: 400;
}

.border-t{
    border-top: 1px solid white;
}

.border-b{
    border-bottom:1px solid white;
}

.header-list__telephone-mobile{
    display:none;
}

/*NE MOE*/
.header-menuToggle .x-sign {
    display: block;
    width: 40px;
    height: 4px;
    margin-bottom: 10px;
    position: relative;
    background: #E7EBF0;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

.header-menuToggle .x-first
{
    transform-origin: 5px 10px;
}

.header-menuToggle .x-second
{
    transform-origin: 16px 0px;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.header-menuToggle input:checked ~ .x-sign
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #E7EBF0;
}

/*
 * But let's hide the middle one.
 */
.header-menuToggle input:checked ~ .x-third
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2) !important;
}

/*
 * Ohyeah and the last one should go the other direction
 */
.header-menuToggle input:checked ~ .x-second
{
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px) !important;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.header-menu {
    position: absolute;
    width: 500px;
    padding-top: 90px;
    right: -22px;
    background: #E7EBF0;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.header-menu li {
    font-weight:300;
    padding: 20px 0 20px 45px;
    font-size: 18px;
    position:relative;
}

.header-burger__logo-shipping{
    background: #637DD9;
    width: 305px;
    height: 43px;
    color:#E7EBF0;
    margin:0 auto;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 16px;
    font-weight:300;
    text-align: center;
}

.header-menu li:active{
    background: #4E536B;
    color:white;
}


@media(max-width:900px){
    .header-list__headphones-pc{
        display:none;
    }

    .header-list__telephone-mobile{
        display:block;
    }

}

@media(max-width:500px){
    .header-menu {
        width: 400px;
    }
}

/*
 * And let's fade it in from the left
 */
.header-menu.shown
{
    transform: none;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .header-menu {
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
}

#menu-catalog,
#menu-kamagra,
#menu-levitra,
#menu-viagra,
#menu-cialis,
#menu-viagra {
    display: none;
}

.nav-btn {
    cursor: pointer;
}

