.img-section-d-flex{
    display:flex;
    margin:0 auto;
}

.img-section-t-center{
    text-align:center;
}

.img-big-logo{
    margin:0 auto;
}

.img-big-logo-700px{
    display:none;
    margin:0 auto;
}

.img-header-big{
    font-weight:700;
    color:#3B418D;
    font-size:30px;
    padding-top:23px;
    position:absolute;
}

.img-header-small{
    text-align:center;
    font-weight:700;
    color:#3B418D;
    font-size:30px;
    padding-top:23px;
    display:none;
}

.img-section{
    margin:50px 0;
    position:relative;
}

.img-section-subtitle-second{
    font-weight:500;
    font-size:32px;
    color:#45485B;
    display: table;
    margin: 20px auto;
}

.img-section-btn{
    width:290px;
}

.img-section-subtitle{
    font-weight:500;
    font-size:32px;
    background: linear-gradient(90deg, #61BDF6 0%, #3B418D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin: 20px auto;
    padding-top:40px;
}

@media(max-width:1200px){
    .img-header-big{
       width:95%;
       text-align: center;
    }

    .img-big-logo{
        margin-top: 90px;
    }
}

@media(max-width:760px){
    .img-big-logo-700px , .img-header-small{
        display:block;
        text-align:center;
    }

    .img-big-logo, .img-header-big{
        display:none;
    }

    .img-section-subtitle-second{
        font-size:22px;
    }

    .img-section-subtitle{
        font-size:22px;
        padding-top:0;
    }


    .img-section-btn{
        width:200px;
        margin-top:0;
        font-size:20px;
        height: 54px;
    }
}