.orig-viagra-section{
    margin-top:30px;
}

.orig-viagra-left-section {
    border: 1px solid #5A37C3;
    height: 460px;
    border-radius: 40px;
    text-align: center;
}

.orig-viagra-img{
    margin:0 auto;
    margin-top: 69px;
}

@media(max-width:1200px){
    .orig-viagra-img{
        margin-top: 55px;
    }
}

.orig-viagra-subtitle{
    font-size:20px;
    font-weight:400;
    color:#4E536B;
    line-height: 1.5;
    margin:25px 0;
}

.orig-viagra-subtitle-header{
    font-size:22px;
    color:#ED293A;
    font-weight:400;
    margin-left:15px;
    text-transform: uppercase;
}

.orig-img{
    margin-left:35px;
}

.orig-img-block{
    margin-top:18px;
}

.orig-delivery-img{
    margin-left:50px;
}

.orig-viagra-mobile-header{
    display:none;
}

@media(max-width:1200px){
    .orig-viagra-right-section{
        margin-top:50px;
    }

    .orig-viagra-comp-header{
        display:none;
    }

    .orig-viagra-mobile-header{
        display:block;
        margin-bottom: 20px;
    }
}

@media(max-width:650px){
    .orig-delivery-img {
        margin-left: 15px;
    }

    .m-t{
        margin-top:10px;
    }

    .orig-img-block{
        margin-top:18px;
        text-align:center;
    }

    .orig-img {
        margin-left: 22px;
    }
}