.package-section{
    margin:50px 0;
}

h4{
    font-weight:400;
    color:#4E536B;
    font-size:24px;
}

h2{
    font-size:32px;
    font-weight:700;
    color:#3B418D;
    text-transform: uppercase;
}


h3{
    font-weight:600;
    font-size:22px;
}

h5{
    font-size:18px;
    font-weight:400;
}

.package-img-header{
    padding-left:35px;
    margin:8px 0 0 8px;
}

.package-header{
    padding-bottom: 25px;
    color:#3A4353;
}

.package-s-header{
    padding:15px 0;
}


@media(max-width:1200px){
    .package-img-header{
        padding-left:0;
    }

    .package-p-top{
        margin-top:20px;
    }

    .package-img-item{
        text-align: center;
        white-space: nowrap;
    }
}

@media(max-width:800px){
    .package-img{
        width:108px;
    }

    .package-header{
        font-size:22px;
        padding-bottom: 10px;
    }

    h4{
        font-size:20px;
    }
}