.pay-section-header{
    font-size:22px;
    font-weight:600;
    color:#3A4353;
    padding:20px 0;
}

.pay-time-btn{
    background: white;
    border: 3px solid #90969D;
    height:60px;
    text-align:left;
    color:#3B418D;
    position:relative;
    width:100%;
}

.pay-time-btn-margin{
    margin-left:23px;
}

.pay-section-subtitle{
    font-size:18px;
    color:#90969D;
    font-weight: 300;
    line-height: 1.7;
}

.line-pay-bottom{
    border:1px solid #77808A;
}

.pay-information-input{
    padding: 10px;
    width:100%;
    height: 50px;
    outline: none;
    margin-top:15px;
    margin-bottom:10px;
    border: 1px solid #1C0C2A;
    font-size:16px;
    position:relative;
    color:#3B418D;
}

.pay-information-label{
    width:100%;
}

.shipping-adress-section{
    margin-bottom: 166px;
}

.pay-right-column{
    margin-bottom: 27px;
}

.shipping-checkbox-subtitle{
    font-size:16px;
    font-weight:300;
    padding: 5px 0 0 10px;
}

.pay-info-section{
    margin:30px 0 85px 0;
}

.pay-info-input{
    width:100%;
    height: 60px;
    outline: none;
    margin-top:17px;
    border: 2px solid #90969D;
    font-size:16px;
    border-radius: 30px;
    padding: 25px;
    position:relative;
}

.pay-dropmenu{
    height: 60px;
    top: -2px;
    border-radius: 0 20px 20px 0;
}

.pay-security-code{
    padding-top:15px;
}

.pay-expiration-date{
    padding-top:67px;
}

.pay-btn-gradient {
    color: #E7EBF0;
    font-weight: 700;
    font-size: 20px;
    border: none;
    text-align: center;
    height: 60px;
    width: 240px;
    transition: 0.3s;
    border-radius: 30px;
    background: linear-gradient(90deg, #5A37C3 0%, #DE1B4A 100%);
}

.pay-btn-gradient:hover{
    background: #5A37C3;
    transition: 0.3s;
}

.pay-btn-gradient:active{
    background: #ED293A;
}

.pay-btn-subtitle{
    font-size: 20px;
    color: #90969D;
    padding: 25px 0;
}

.pay-date-btns-subtitle{
    width: 50%;
    padding:10px 0;
}

.checkbox-block{
    margin-top:78px;
}

@media(max-width:1200px){
    .shipping-adress-section {
        margin-bottom: 0;
    }

    .pay-date-btns-subtitle{
        width: 100%;
    }

    .checkbox-block{
        margin-top:0;
    }
}

@media(max-width:991px){
    .pay-right-column{
        margin-top:20px;
    }

    .pay-btn-gradient{
        width: 100%;
    }

    .pay-btn-subtitle{
        font-size: 16px;
        color: #3A4353;
        padding: 25px 0;
    }
}

@media (max-width: 768px){
    .pay-information-right{
        margin-top:0;
    }
}

@media(max-width:691px){
    .pay-expiration-date{
        padding-top:35px;
    }
}

@media(max-width:575px){
    .pay-time-btn{
        margin-top:15px;
    }
 .pay-time-btn, .pay-info-input{
     border:1px solid #90969D

 }
}