.payment-section{
    margin-top:60px;
}

.payment-container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.payment-two-columns{
    display:inline-block;
    width:100%;
}

.payment-methods-block{
    margin-top:25px;
    position:relative;
    text-align:center;
    background: #F0F3F8;
    border-radius: 20px;
    padding: 20px 20px 45px 20px;
}

.payment-methods-block-margin{
    margin-left:10px;
}

.payment-img{
    margin:0 auto;
}

.payment-two-columns{
    display:flex;
}

.payment-left-column{
    width:30%;
}

.payment-right-column{
    width:70%;
}

.payment-flex{
    display:flex;
}

.delivery_methods {
    font-size: 22px;
    border-bottom: 1px solid #90969D;
    width: 80%;
    display: flex;
    text-align: center;
    margin: 20px auto;
    justify-content: center;
    padding: 5px;
    white-space: nowrap;
    color:#1C0C2A;
}

.second_line_methods {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first_line_methods {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.line-delivery{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.payment-methods-block-delivery-mobile{
    display:none;
    white-space:nowrap;
}

.payment-img-mobile-block{
    display:none;
}

.payment-methods-block-comp{
    display:block;
}

.payment-methods-block-mobile{
    display:none;
}

@media(max-width:1200px){
    .payment-methods-block-delivery-mobile, .payment-img-mobile-block, .payment-methods-block-mobile{
        display:block;
    }

    .payment-methods-block {
        height: 310px;
    }

    .payment-methods-block-comp, .payment-methods-block-delivery-comp, .payment-img-comp-block{
        display:none;
    }

    .payment-container-fluid{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(max-width:600px){

    .payment-methods-block {
         padding: 0;
         height: 228px;
    }

}
