.search-list__item-circle{
    height:50px;
    width:50px;
    border-radius: 50%;
    position:absolute;
    background: #5A37C3;
    transition:0.3s;
    top:8px;
    left:8px;
}

.search-list__item-rim-circle{
    background: rgba(99, 125, 217, 0.6);
    height:65px;
    width:65px;
    border-radius: 50%;
    position:relative;
    display:flex;
    transition:0.3s;
}

.search-list__item-rim-circle:hover{
    height:58px;
    width:58px;
    transition: 0.3s;
}

.search-list__item-rim-circle:hover .search-list__item-circle{
    top:4px;
    left:4px;
}

.search-list__item-rim-circle:active{
    background: rgba(237, 41, 58, 0.4);
}

.search-list__item-rim-circle:active .search-list__item-circle{
    background: #ED293A;
}

.search-list {
    display: flex;
    font-size:18px;
    margin-bottom: 15px;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.search-list__item{
    width: 25%;
    margin:0 auto;
}

.search-list__item-mobile, .search-list__item-basket-mobile{
    display:none;
}

.search-list__item-right{
    display:flex;
    float:right;
    text-align:center;
}

.search-cart{
    position:absolute;
    right: 15px;
    top: 14px;
}

.search-input {
    padding: 10px;
    height: 50px;
    width: 100%;
    outline: none;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 2px solid #90969D;
    font-size: 16px;
    position: relative;
    border-radius: 50px;
    font-weight: 400;
}

.search-input-form {
    position: relative;
    width:50%;
}

.search-input-img {
    position: absolute;
    right: 23px;
    top: 31px;
}

.search-list__mobile{
    display:none;
    text-align: center;
}

.search-list__mobile-item{
    display:none;
}

.search-list__item-circle:hover{
    background: #5A37C3;
    transition:0.5s;
}

.search-section{
    padding-top:70px;
}

.modal-content {
    border-radius: 30px;
    padding: 15px;
    background: #E7EBF0;
}

.modal-footer button{
    background: #5A37C3;
    color:white;
    border:none;
    width:165px;
    text-align:center;
}

.modal-footer label img{
    position:absolute;
    left: 14px;
    top: 18px;
}

.modal-header, .modal-footer{
    border-bottom:0;
    border-top:0;
    font-weight: 700;
}

.modal-footer label input{
    border-radius: 30px;
    background: #E7EBF0;
    border: 2px solid #90969D;
    height: 54px;
    width: 253px;
    padding-left: 60px;
}

@media (max-width: 900px){
    .search-list__item{
        width: 100%;
        margin:0 auto;
        padding-top:10px;
    }

    .search-input {
        display:none;
    }

    .search-list__mobile{
        display:block;
        position:relative;
    }

    .search-mobile-input{
        padding: 10px;
        height: 50px;
        width: 100%;
        outline: none;
        margin-top: 15px;
        margin-bottom: 30px;
        border: 2px solid #90969D;
        font-size: 16px;
        position: relative;
        border-radius: 50px;
        font-weight: 400;
        display:block;
    }

    .margin{
        margin:0 auto;
    }

    .search-list__mobile-item{
        display:block;
        position:relative;
    }

    .search-input-mobile-img{
        position: absolute;
        right: 23px;
        top: 31px;
    }

    .search-input-img {
        display:none;
    }

    .search-list__item-right{
        display:none;
    }

    .search-list__item-basket-mobile{
        display:block;
    }
}

@media (max-width: 650px){
    .search-mobile-input {
        width:100%;
    }
}

@media(max-width:550px){
    .search-list__item{
        display:none;
    }

    .search-list__item-mobile{
        display:block;
    }
}