.text-section{
    margin:80px 0 60px 0;
}

.text-header{
    font-size:32px;
    font-weight:700;
    text-transform: uppercase;
}

.text-item{
    font-size:22px;
    font-weight:300;
    margin:20px 0;
}