body{
    font-family: 'DM Sans', sans-serif;
    font-weight:500;
    line-height:1.3;
    color:#45485B;
}

a:hover{
    text-decoration: none;
}

a{
    color:#45485B;
}

.section-content {
    max-width:1440px;
    margin: 0 auto;
}

.carousel-indicators {
    z-index: 1;
}

button,
button:active,
button:focus {
    outline: none;
}

.header-phone-img{
    width: 25px;
    height: 25px;
}

.c-white{
    color:white;
    font-size:16px;
    font-weight:500;
    transition:0.5s;
}

.c-white:hover{
    color:white;
}

.c-blue{
    color:#3B418D;
}

.c-white{
    color:white;
}

.shopping-right-btn-gradient{
    text-transform: uppercase;
    color:#E7EBF0;
    font-weight:700;
    font-size:20px;
    background: linear-gradient(90deg, #5A37C3 0%, #DE1B4A 100%);
    border:none;
    text-align:center;
    width:100%;
    height:60px;
    border-radius:30px;
    transition:0.4s;
}

.shopping-right-btn-gradient:active{
    background: #637DD9;
}

.shopping-right-btn:active{
    background: linear-gradient(90deg, #5A37C3 0%, #DE1B4A 100%);
}

.shopping-right-btn{
    font-weight:500;
    font-size:20px;
    border-radius: 5px 5px 30px 5px;
    border: 2px solid #5A37C3;
    background: white;
    text-align:center;
    width:100%;
    height:60px;
    margin-top:20px;
    color:#5A37C3;
    transition:0.4s;
}

.shopping-right-btn:hover, .shopping-right-btn-gradient:hover{
    transition:0.4s;
    background:#5A37C3;
    color:white;
    border:none;
}

.shopping-adress-checkbox.active:after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "✓";
    font-size: 6rem;
    height: 100%;
    width: 100%;
}

.carousel-control-next-icon {
    background-image:url(../images/right-arrow.png);
    height:60px;
    width:60px;
    right:90px;
}

.carousel-control-prev-icon {
    background-image:url(../images/left-arrow.png);
    width:60px;
    height:60px;
    left:90px;
}

.carousel-control-next-icon-second {
    height: 52px;
    width: 52px;
    bottom: -158px;
    position: absolute;
}

.carousel-control-prev-icon-second {
    height: 52px;
    width: 52px;
    bottom: -158px;
    position: absolute;
}

@media(max-width:1200px){
    .carousel-indicators-second{
        bottom: -172px;
    }

    .carousel-control-prev-icon-second{
        top: 190px;
    }
}

.carousel-indicators {
    bottom: -30px;
}

.btn{
    background: white;
    border: 1px solid #90969D;
    height: 60px;
    text-align: left;
    color: #3B418D;
    position: relative;
}

.btn:hover{
    background: white;
    color: #3B418D;
}

.btn:active {
    background: white;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color:#3B418D;
    background-color: white;
    border-color: white;
    box-shadow: 0 0 0 0.2rem rgb(130 138 145);
}

.carousel-indicators-second{
    bottom: -150px;
}

.carousel-indicators li {
    background-color: #5A37C3;
    width: 30px;
    height: 6px;
}

@media(max-width:800px){
    .line-bottom{
        border-bottom: 1px solid #77808A;
        width:100%;
        margin:10px 0;
    }
}

@media(max-width:700px){
    h4, .orig-viagra-subtitle, .text-item{
        font-size:18px;
    }

    {
        font-size:18px;
    }

    h2{
        font-size:22px;
    }

    .text-header{
        font-size:20px;
    }
}

@media(max-width:660px){
    .carousel-control-next-icon , .carousel-control-prev-icon {
        display:none;
    }
}

.dropdown-menu{
    overflow: auto;
    max-height: 270px;
    background:#E7EBF0;
    border:none;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}
.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slider_second {
    display: flex;
    justify-content: center;
    margin: 0 -60px;
}

.carousel-slider-img{
    height: 52px;
    margin-top: 180px;
}

.btn-secondary {
    background-color: white;
    color:#3B418D;
    border:2px solid #90969D;
    border-radius:30px;
}

.dropdown-item {
    text-align: center;
    transition:0.2s;
}

.dropdown-item:hover{
    color:#5A37C3;
    transition:0.2s;
}
.dropdown-item:active {
    background: white;
}

.btn-secondary:focus {
    background-color: white;
    color:#3B418D;
}

.search-input:focus, .adress-input:focus, .pay-info-input:focus {
    border: 2px solid #5A37C3;
    box-shadow: 0px 2px 10px rgba(8, 19, 39, 0.22);
}

.icon-Delete{
    color:#EC4C36;
    transition:0.3s;
}

.icon-Minus_Desktop{
    margin-right:9px;
    padding-top:2px;
    transition:0.3s;
}

.icon-Plus_Desktop{
    margin-left:9px;
    padding-top:2px;
    transition:0.3s;
}

.icon-Minus_Desktop:hover, .icon-Plus_Desktop:hover{
    color:#5A37C3;
    transition:0.3s;
}

.icon-Minus_Desktop:active .icon-Plus_Desktop:active{
    color:#637DD9;;
}

.icon-Minus_Mobile, .icon-Plus_Mobile{
    font-size:20px;
}

.btn-default{
    width: 147px;
    height: 57px;
    color: #5A37C3;
    font-weight:500;
    background: white;
    border:2px solid #5A37C3;
    transition:0.5s;
    white-space:nowrap;
    border-radius:30px;
}